.pagination {
	justify-content: center!important;
	font-family: 'Gotham Book';
	font-size: 16px !important;
	border-radius: 0px !important;
}
.row .pagination>li>a,
.row .pagination>li>span{
	color:#666666;
}
.page-item.active .page-link {
	color: #fff;
    background-color: #1ab6f1;
    border-color: #1ab6f1;
}
.page-item {
	border-color: #ebebeb;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}